In [1]:
import boto3
import io
import pandas as pd

In [2]:
boto3.setup_default_session(profile_name='personal')

# Input data checks
Only some of the files contain data and are of use

In [3]:
client = boto3.client('s3')
response = client.list_objects_v2(
    Bucket='prj001-baby',
    #Delimiter='/',
    EncodingType='url',
    MaxKeys=123,
    #Prefix='raw',
    #ContinuationToken='string',
    #FetchOwner=True|False,
    StartAfter='data/001/raw',
    #RequestPayer='requester'
)
#print(response)
for o in response.get('Contents'):
    print (o.get('Key') + ' ' + str(o.get('Size')/ 1000) + ' kb' )

data/001/raw/ 0.0 kb
data/001/raw/excretions.csv 54.392 kb
data/001/raw/feeds.csv 219.83 kb
data/001/raw/growths.csv 0.064 kb
data/001/raw/journal_entries.csv 1.209 kb
data/001/raw/medicine_records.csv 0.347 kb
data/001/raw/medicines.csv 0.171 kb
data/001/raw/pauses.csv 0.47 kb
data/001/raw/pumpings.csv 0.171 kb
data/001/raw/sleeps.csv 2.662 kb
data/001/raw/teeths.csv 0.033 kb
data/001/raw/temperatures.csv 0.045 kb
data/001/raw/vaccinations.csv 0.166 kb

## Feeds data

In [5]:
boto3.setup_default_session(profile_name='personal')
s3 = boto3.client('s3')
obj = s3.get_object(Bucket='prj001-baby', Key='data/001/raw/feeds.csv')
df = pd.read_csv(io.BytesIO(obj['Body'].read()))

In [6]:
df.describe()

                id   Quantity (oz)   Quantity (ml or g)   Duration (Minutes)
count  2530.000000     2530.000000          2530.000000          2530.000000
mean   1281.190909        3.702921           109.503953            10.089328
std     736.290294        1.490045            44.078153            16.122993
min       2.000000        0.340000            10.000000             0.000000
25%     644.250000        2.540000            75.000000             8.000000
50%    1280.500000        3.380000           100.000000             9.000000
75%    1919.750000        5.070000           150.000000            10.000000
max    2554.000000        9.300000           275.000000           729.000000

In [7]:
df.tail(20)

,id,Start Time,End Time,Feed Type,Quantity (oz),Quantity (ml or g),Notes,Duration (Minutes),Food Type,Unit,Bottle Type
2510,22,15:59:51 04-28-2017,16:03:43 04-28-2017,Bottle,2.03,60,NaN,3,Liquid,METRIC,Formula
2511,21,14:03:59 04-28-2017,14:31:20 04-28-2017,Bottle,2.03,60,NaN,27,Liquid,METRIC,Formula
2512,20,09:40:08 04-28-2017,09:56:10 04-28-2017,Bottle,2.03,60,NaN,16,Liquid,METRIC,Formula
2513,18,07:40:17 04-28-2017,08:00:19 04-28-2017,Bottle,2.03,60,NaN,20,Liquid,METRIC,Formula
2514,17,04:17:01 04-28-2017,04:28:13 04-28-2017,Bottle,2.03,60,NaN,11,Liquid,METRIC,Formula
2515,19,01:38:32 04-28-2017,02:00:32 04-28-2017,Bottle,2.03,60,NaN,22,Liquid,METRIC,Formula
2516,15,21:33:14 04-27-2017,21:41:27 04-27-2017,Bottle,1.35,40,NaN,8,Liquid,METRIC,Formula
2517,14,19:06:00 04-27-2017,19:39:43 04-27-2017,Bottle,2.03,60,NaN,33,Liquid,METRIC,Formula
2518,13,17:22:07 04-27-2017,17:39:07 04-27-2017,Bottle,2.03,60,NaN,16,Liquid,METRIC,Formula
2519,12,14:30:46 04-27-2017,14:37:45 04-27-2017,Bottle,2.03,60,NaN,6,Liquid,METRIC,Formula
2520,11,12:18:38 04-27-2017,12:30:06 04-27-2017,Bottle,2.03,60,NaN,11,Liquid,METRIC,Formula
2521,10,09:26:41 04-27-2017,09:34:51 04-27-2017,Bottle,2.03,60,NaN,8,Liquid,METRIC,Formula
2522,9,05:43:08 04-27-2017,05:50:00 04-27-2017,Bottle,2.03,60,NaN,6,Liquid,METRIC,Formula
2523,8,02:23:50 04-27-2017,02:27:37 04-27-2017,Bottle,2.03,60,NaN,3,Liquid,METRIC,Formula
2524,7,22:51:30 04-26-2017,22:57:41 04-26-2017,Bottle,2.03,60,NaN,6,Liquid,METRIC,Formula
2525,6,20:21:56 04-26-2017,20:23:31 04-26-2017,Bottle,2.03,60,NaN,1,Liquid,METRIC,Formula
2526,5,17:04:20 04-26-2017,17:08:18 04-26-2017,Bottle,2.03,60,NaN,3,Liquid,METRIC,Formula
2527,4,14:30:46 04-26-2017,14:42:48 04-26-2017,Bottle,2.03,60,NaN,12,Liquid,METRIC,Formula
2528,3,11:55:10 04-26-2017,12:00:48 04-26-2017,Bottle,2.03,60,NaN,5,Liquid,METRIC,Formula
2529,2,09:00:46 04-26-2017,09:09:48 04-26-2017,Bottle,2.03,60,NaN,9,Liquid,METRIC,Formula