In [1]:
import boto3
import io
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named '_lzma'

In [ ]:
boto3.setup_default_session(profile_name='personal')

# Input data checks

In [ ]:
client = boto3.client('s3')
response = client.list_objects_v2(
    Bucket='prj001-baby',
    #Delimiter='/',
    EncodingType='url',
    MaxKeys=123,
    #Prefix='raw',
    #ContinuationToken='string',
    #FetchOwner=True|False,
    StartAfter='data/001/raw',
    #RequestPayer='requester'
)
#print(response)
for o in response.get('Contents'):
    print (o.get('Key') + ' ' + str(o.get('Size')/ 1000) + ' kb' )

## Feed data

In [5]:
boto3.setup_default_session(profile_name='personal')
s3 = boto3.client('s3')
obj = s3.get_object(Bucket='prj001-baby', Key='data/001/raw/feeds.csv')
df = pd.read_csv(io.BytesIO(obj['Body'].read()))

In [ ]:
df.describe()

In [6]:
df.tail(10)

,id,Start Time,End Time,Feed Type,Quantity (oz),Quantity (ml or g),Notes,Duration (Minutes),Food Type,Unit,Bottle Type
2520,11,12:18:38 04-27-2017,12:30:06 04-27-2017,Bottle,2.03,60,NaN,11,Liquid,METRIC,Formula
2521,10,09:26:41 04-27-2017,09:34:51 04-27-2017,Bottle,2.03,60,NaN,8,Liquid,METRIC,Formula
2522,9,05:43:08 04-27-2017,05:50:00 04-27-2017,Bottle,2.03,60,NaN,6,Liquid,METRIC,Formula
2523,8,02:23:50 04-27-2017,02:27:37 04-27-2017,Bottle,2.03,60,NaN,3,Liquid,METRIC,Formula
2524,7,22:51:30 04-26-2017,22:57:41 04-26-2017,Bottle,2.03,60,NaN,6,Liquid,METRIC,Formula
2525,6,20:21:56 04-26-2017,20:23:31 04-26-2017,Bottle,2.03,60,NaN,1,Liquid,METRIC,Formula
2526,5,17:04:20 04-26-2017,17:08:18 04-26-2017,Bottle,2.03,60,NaN,3,Liquid,METRIC,Formula
2527,4,14:30:46 04-26-2017,14:42:48 04-26-2017,Bottle,2.03,60,NaN,12,Liquid,METRIC,Formula
2528,3,11:55:10 04-26-2017,12:00:48 04-26-2017,Bottle,2.03,60,NaN,5,Liquid,METRIC,Formula
2529,2,09:00:46 04-26-2017,09:09:48 04-26-2017,Bottle,2.03,60,NaN,9,Liquid,METRIC,Formula

In [9]:
print(df.shape)

(2530, 11)

In [16]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2530 entries, 0 to 2529
Data columns (total 11 columns):
id                     2530 non-null int64
 Start Time            2530 non-null datetime64[ns]
 End Time              2530 non-null object
 Feed Type             2530 non-null object
 Quantity (oz)         2530 non-null float64
 Quantity (ml or g)    2530 non-null int64
 Notes                 82 non-null object
 Duration (Minutes)    2530 non-null int64
 Food Type             2529 non-null object
 Unit                  2530 non-null object
 Bottle Type           2483 non-null object
dtypes: datetime64[ns](1), float64(1), int64(3), object(6)
memory usage: 217.5+ KB
None

## Time range of feeds

In [15]:
df[' Start Time'] = df[' Start Time'].astype('datetime64')

In [21]:
print(str(min(df[' Start Time'])) + ' to ' + str(max(df[' Start Time']) ))

2017-04-26 09:00:46 to 2018-03-04 18:25:57

In [23]:
df[' Food Type'].unique()

array(['Liquid', 'Yogurt', 'Vege', 'Dairy', 'Bread; Fruit; Yogurt',
       'Meat; Vege', 'Fruit; Yogurt', 'Cereal', 'Fruit',
       'Bread; Fruit; Vege', 'Meat', nan, 'Bread; Dairy; Fruit',
       'Fruit; Vege', 'Bread; Fruit', 'Fruit; Meat', 'Bread'],
      dtype=object)

## A small number of feeds are not bottle feeds

In [29]:
df[' Bottle Type'].unique()

array(['Formula', nan], dtype=object)

In [30]:
df[df[' Bottle Type'].isnull()]

,id,Start Time,End Time,Feed Type,Quantity (oz),Quantity (ml or g),Notes,Duration (Minutes),Food Type,Unit,Bottle Type
45,2508,2018-02-23 10:09:26,10:18:26 02-23-2018,Bottle,4.06,120,NaN,9,Liquid,METRIC,NaN
224,2328,2018-01-17 07:41:00,07:50:00 01-17-2018,Solids,0.35,10,fed Yogurt,9,Yogurt,METRIC,NaN
228,2324,2018-01-16 16:43:53,16:52:53 01-16-2018,Bottle,5.41,160,NaN,9,Liquid,METRIC,NaN
241,2311,2018-01-14 09:29:00,09:38:00 01-14-2018,Solids,0.35,10,fed Yogurt,9,Yogurt,METRIC,NaN
251,2301,2018-01-12 17:57:59,18:06:59 01-12-2018,Bottle,4.06,120,NaN,9,Liquid,METRIC,NaN
274,2278,2018-01-08 15:21:33,15:22:33 01-08-2018,Solids,0.35,10,fed Vege,1,Vege,METRIC,NaN
276,2277,2018-01-08 11:16:54,11:30:54 01-08-2018,Solids,0.35,10,fed Vege,14,Vege,METRIC,NaN
277,2276,2018-01-08 09:30:06,09:45:06 01-08-2018,Solids,0.35,10,fed Dairy,15,Dairy,METRIC,NaN
278,2275,2018-01-08 08:20:50,08:30:50 01-08-2018,Solids,0.35,10,fed Yogurt,10,Yogurt,METRIC,NaN
291,2260,2018-01-06 08:05:12,08:14:12 01-06-2018,Solids,0.35,10,fed Bread Fruit Yogurt,9,Bread; Fruit; Yogurt,METRIC,NaN
331,2220,2017-12-29 12:06:00,12:15:00 12-29-2017,Solids,0.35,10,fed Yogurt,9,Yogurt,METRIC,NaN
338,2214,2017-12-28 12:19:41,12:28:41 12-28-2017,Solids,0.35,10,fed Yogurt,9,Yogurt,METRIC,NaN
371,2181,2017-12-22 17:40:22,17:50:22 12-22-2017,Bottle,6.76,200,NaN,10,Liquid,METRIC,NaN
372,2180,2017-12-22 13:42:08,13:51:08 12-22-2017,Bottle,8.12,240,NaN,9,Liquid,METRIC,NaN
373,2179,2017-12-22 10:30:01,10:40:01 12-22-2017,Bottle,6.76,200,NaN,10,Liquid,METRIC,NaN
428,2122,2017-12-14 06:13:53,06:22:53 12-14-2017,Solids,0.35,10,fed Yogurt,9,Yogurt,METRIC,NaN
495,2058,2017-12-04 15:46:50,16:05:50 12-04-2017,Solids,0.35,10,fed Meat,19,Meat; Vege,METRIC,NaN
498,2057,2017-12-04 10:20:05,10:35:05 12-04-2017,Solids,0.35,10,fed Fruit,15,Fruit; Yogurt,METRIC,NaN
731,1819,2017-11-05 08:47:27,08:56:27 11-05-2017,Solids,0.35,10,fed Cereal,9,Cereal,METRIC,NaN
740,1810,2017-11-04 08:20:39,08:30:39 11-04-2017,Solids,0.35,10,fed Cereal,10,Cereal,METRIC,NaN
764,1786,2017-11-01 09:31:39,09:31:40 11-01-2017,Solids,0.35,10,Strawberry apple puree,0,Fruit,METRIC,NaN
778,1772,2017-10-30 16:20:56,16:28:56 10-30-2017,Solids,0.35,10,Carrot apple puree toast,8,Bread; Fruit; Vege,METRIC,NaN
787,1764,2017-10-29 16:00:48,16:14:48 10-29-2017,Solids,0.35,10,fed burger,14,Meat,METRIC,NaN
790,1760,2017-10-29 09:00:18,09:12:19 10-29-2017,Solids,0.35,10,fed Fruit,12,Fruit,METRIC,NaN
795,1755,2017-10-28 17:59:37,18:08:37 10-28-2017,Solids,0.35,10,NaN,9,NaN,METRIC,NaN
798,1752,2017-10-28 10:35:44,10:44:44 10-28-2017,Bottle,5.07,150,NaN,9,Liquid,METRIC,NaN
817,1733,2017-10-26 09:32:23,09:32:25 10-26-2017,Solids,0.35,10,Bagel cream cheese pear puree,0,Bread; Dairy; Fruit,METRIC,NaN
831,1719,2017-10-24 17:50:56,18:10:56 10-24-2017,Solids,1.06,30,Broccoli pear puree,20,Fruit; Vege,METRIC,NaN
836,1716,2017-10-24 07:00:52,07:06:52 10-24-2017,Solids,0.35,10,Pear puree,6,Fruit,METRIC,NaN
844,1706,2017-10-23 10:26:37,10:35:37 10-23-2017,Solids,0.71,20,fed mashed banana,9,Fruit,METRIC,NaN
863,1687,2017-10-21 08:30:52,08:45:52 10-21-2017,Solids,0.35,10,fed banana pancakes toast,15,Bread; Fruit,METRIC,NaN
873,1678,2017-10-20 07:00:01,07:14:01 10-20-2017,Solids,0.35,10,fed Fruit,14,Fruit,METRIC,NaN
878,1676,2017-10-19 17:26:02,17:40:02 10-19-2017,Solids,0.35,10,Broccoli,14,Vege,METRIC,NaN
883,1668,2017-10-19 07:20:59,07:26:59 10-19-2017,Solids,0.35,10,fed Fruit Meat banana pancakes,6,Fruit; Meat,METRIC,NaN
890,1661,2017-10-18 09:15:26,09:30:26 10-18-2017,Solids,0.35,10,fed broccoli and green beans,15,Vege,METRIC,NaN
899,1650,2017-10-17 07:33:38,07:42:38 10-17-2017,Solids,0.35,10,fed bagel cream cheese,9,Bread,METRIC,NaN
909,1644,2017-10-16 07:53:57,07:59:57 10-16-2017,Solids,0.35,10,fed Vege cucumber,6,Vege,METRIC,NaN
917,1633,2017-10-15 09:10:08,09:19:08 10-15-2017,Solids,0.35,10,fed Fruit,9,Fruit,METRIC,NaN
925,1625,2017-10-14 08:20:30,08:30:30 10-14-2017,Solids,0.35,10,Pear puree,10,Fruit,METRIC,NaN
1410,1136,2017-08-14 09:49:29,09:57:29 08-14-2017,Bottle,4.06,120,NaN,8,Liquid,METRIC,NaN
1664,878,2017-07-19 13:45:19,14:05:19 07-19-2017,Bottle,3.04,90,NaN,20,Liquid,METRIC,NaN
1996,545,2017-06-15 23:39:59,23:48:59 06-15-2017,Bottle,4.73,140,NaN,9,Liquid,METRIC,NaN
2164,373,2017-05-31 02:06:43,02:40:51 05-31-2017,Bottle,3.38,100,NaN,34,Liquid,METRIC,NaN
2224,313,2017-05-25 16:00:59,16:07:59 05-25-2017,Bottle,1.69,50,NaN,7,Liquid,METRIC,NaN
2251,287,2017-05-23 00:32:05,00:52:58 05-23-2017,Bottle,4.40,130,NaN,20,Liquid,METRIC,NaN
2363,172,2017-05-12 12:15:58,12:52:58 05-12-2017,Bottle,1.69,50,NaN,37,Liquid,METRIC,NaN
2483,50,2017-05-01 10:55:49,11:07:51 05-01-2017,Bottle,2.37,70,NaN,12,Liquid,METRIC,NaN

## Quantity of Feed

In [32]:
print(max(df[' Quantity (ml or g)']))

275