In [2]:
import pandas

In [4]:
feeds = pandas.read_csv("./data/FeedBaby-data-export-20180304_202755/feeds.csv")

In [5]:
feeds.head()

,id,Start Time,End Time,Feed Type,Quantity (oz),Quantity (ml or g),Notes,Duration (Minutes),Food Type,Unit,Bottle Type
0,2554,18:25:57 03-04-2018,18:40:57 03-04-2018,Bottle,5.07,150,NaN,15,Liquid,METRIC,Formula
1,2553,13:58:16 03-04-2018,14:07:16 03-04-2018,Bottle,4.06,120,NaN,9,Liquid,METRIC,Formula
2,2551,07:00:58 03-04-2018,07:13:06 03-04-2018,Bottle,4.06,120,NaN,12,Liquid,METRIC,Formula
3,2550,02:44:10 03-04-2018,02:52:49 03-04-2018,Bottle,4.06,120,NaN,8,Liquid,METRIC,Formula
4,2549,18:35:31 03-03-2018,18:45:31 03-03-2018,Bottle,5.07,150,NaN,10,Liquid,METRIC,Formula